@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spot {
  width: 5.2px;
  height: 5.2px;
  background-color: #00bfcc;
  border-radius: 50%;
  position: absolute;
  left: 5.4px;
  top: 9.7px;
}

.color {
  color: #00bfcc;
}
